<div id="swagger_sidebar">
    <div class="sticky-nav-placeholder">
        <div class="sticky-nav">
            <div class="mobile-nav">
                <span class="select-label">API Reference: </span><span data-selected-value></span>
            </div>

            <div class="token-generator hide">
                <span data-close class="icon-budicon-471"></span>
                <div class="scope-selector">
                    <div class="area controls">
                        <div class="form-group">
                            <label id="input_username_label" for="input_username">Username</label>
                            <input type="text" class="ui-form-control" id="input_username">
                        </div>
                    </div>
                    <br>
                    <div class="area controls">
                        <div class="form-group">
                            <label id="input_password_label" for="input_password">Password</label>
                            <input type="password" autocorrect="off" class="ui-form-control" id="input_password">
                        </div>
                    </div>
                </div>

            </div>
            <div data-navigator>
                <div data-resource="" label="Tools">
                    <div class="item" data-tg-switch="">Swagger resource <span class="status"></span></div>
                </div>
                <div id="resources_nav">
                </div>
            </div>

            <p class="changes-disclaimer">
                <span class='info' id='api_info'>
                    {{#if info}}
                        <span class="info_title">{{info.title}}</span>
                        <span class="markdown">{{{info.description}}}</span>
                    {{/if}}

                </span>

                <span class='info' id='api_info'>
                    {{#if info.contact.email}}
                        <span class='info_email'>
                            Contact: <a href="mailto:{{info.contact.email}}?subject={{info.title}}">{{info.contact.email}}</a>
                        </span><br><br>
                    {{/if}}
                </span>

                <span style="font-variant: small-caps">base url</span>: {{basePath}}
                {{#if info.version}}
                    <span style="font-variant: small-caps">api version</span>: {{info.version}}
                {{/if}}
            </p>
        </div>
    </div>
</div>

<div id='resources_container'>
    <ul id='resources' class="samples-collapsed"></ul>
</div>
